#returnsearch{
    -fx-background-color: #777a74;
    -fx-background-radius: 10px;
}

#button{
    -fx-background-radius: 50px;
}

#choose{
    -fx-background-color: #1b8716;
    -fx-background-radius: 50px;
}

#back{
    -fx-background-color: #000000;
    -fx-background-radius: 50px;
}



//Style of each column header's background in the tableView
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 //Style of each column header's label  in the tableView
.table-view .column-header-background .label{ 
    -fx-font-name:Cartograph CF Bold;
    -fx-font-weight:bold;
    -fx-font-size:15px;
}

//Style of each column in the tableView
.table-view .table-column{
    -fx-alignment:center;
}

 //Style of each table cell
.table-view .table-cell{
    -fx-font-name:Cartograph CF Bold;
    -fx-font-weight:bold;
    -fx-font-size:15px;           //the font size you asked in the comments below
    /* -fx-text-fill:orange; */

}


//Style for each < non odd> row of table view
/* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
}

//Style for each <odd> row of table view
.table-row-cell:odd{
    -fx-background-color: orange;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;  
}
*/

//Style of each entire row in the table view
.table-row-cell:selected {
   /* -fx-border-color:transparent firebrick transparent firebrick  ;
    -fx-border-width:2.0; */
}


//Style of each entire row in the table view when is hovered
.table-row-cell:hover {
    -fx-background-color:orange;
}